{%extends 'instagram/base.html'%}
<!-- html -->
{% block content %}
<!-- content -->
<div class="container-fluid">
  <div class="row main-container">
    <div class="col-md-7 post-container mt-3">
      {% for post in posts %}

      <div class="card m-3">
        {%if post.image%}
        <a href="{%url 'instagram:view_post' post.id %}">
          <img src="{{post.image.url}}" class="card-img-top" alt="..." />
        </a>

        {%endif%}

        <div class="card-body">
          <div class="icons-container">
            <div class="like mr-3">
              <a href="">
                <img src="../../static/images/heart.png" alt="" />
              </a>
            </div>
            <div class="comment">
              <a href="">
                <img src="../../static/images/message.png" alt="" />
              </a>
            </div>
          </div>
          <h4>{{post.likes.count}}likes</h4>
          <div class="card-text">
            <span class="username"> {{post.user.username}} </span>
            <span class="caption">{{post.caption}}</span>
          </div>
          <h4>View all comments</h4>
        </div>
      </div>

      {% endfor %}
    </div>
    <div class="col-md-5 followers-container">followers</div>
  </div>
</div>

{% endblock%}
