{%extends 'instagram/base.html'%}
<!-- html -->
{% block content %}
<!-- content -->
<div class="container">
  <div class="single_post-container row">
    <div class="col-md-6 image-container">
      <img src="{{post.image.url}}" alt="" />
    </div>
    <div class="col-md-6 comments-container">
      <div class="user">
        <div class="user_name">@ {{post.user.username}}</div>
      </div>
      <hr />
      <div class="post">
        <span class="user_name"> {{post.user.username}} </span>
        {{post.name}}
        <p class="post_caption">{{post.caption}}</p>
      </div>
      <div class="comments-wrapper">{{comments}}</div>
      <hr />
      <div class="icons-container">
        <div class="like mr-3">
          <a href="">
            <img src="../../static/images/heart.png" alt="" />
          </a>
        </div>
        <div class="comment">
          <a href="">
            <img src="../../static/images/message.png" alt="" />
          </a>
        </div>
      </div>
      <h5>likes</h5>
      <h6>time</h6>
      <div class="comments-form">
        <form action="{%url 'instagram:add_comment' post.id %}" method="POST">
          {%csrf_token%}
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              name="comment"
              placeholder="Add comment"
            />
            <button class="btn btn-success" type="submit">Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock%}
