a {
  text-decoration: none;
}
li {
  list-style: none;
}

.icons {
  display: flex;
}

.dropdown-toggle::after {
  display: none;
}

.nav-link {
  color: #000 !important;
  text-decoration: none;
}

.navbar-brand img {
  height: 48px;
  margin-left: 20px;
}

.nav-icon {
  height: 40px;
  width: 40px;
}
.nav-user {
  height: 45px;
  width: 45px;

  border-radius: 50%;
}
.nav-user img,
.nav-icon img {
  width: 100%;
}
