a {
  text-decoration: none;
}
li {
  list-style: none;
}

.icons {
  display: flex;
}

.dropdown-toggle::after {
  display: none;
}

.nav-link {
  color: #000 !important;
  text-decoration: none;
}

.navbar-brand img {
  height: 48px;
  margin-left: 20px;
}
