{%extends 'instagram/base.html'%}
<!-- html -->
{% block content %}
<!-- content -->
<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 user-posts"></div>
    <div class="col-md-4">
      <div class="use_profile">
        <h5>{{user.username}}</h5>

        {% if profile.profile_picture %}
        <img
          class="profile-picture"
          src="{{profile.profile_picture.url}}"
          alt=""
        />
        {% endif %}

        <h5>bio</h5>
        {{profile.bio}}
        <div>
          <a
            href="{%url 'instagram:update_profile' user.id %}"
            class="btn btn-outline-primary"
          >
            Edit Profile</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock%}
